html {
  font-size: 13px;
}

body {
  min-height: 75rem;
  padding-bottom: 12rem;
}

body, p {
  color: #515151;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.container {
  max-width: 800px !important;
}

pre {
  border-radius: 3px;
  background: #f4f4f4;
  padding: 4px 8px 3px 8px;
}

a {
  color: #2b7e95;
  text-decoration: none;
}

a:hover {
  color: #042d38;
  text-decoration: none;
}

code {
  color: #ce5491;
}

.header-link-button {
  color: #b6b6b6;
}

.link-button {
  padding-right: 7px;
}

.paper {
  margin-top: 20px;
}

.navbar {
  background-color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-text {
  color: #19afd9;
  font-weight: 700;
  font-size: 1.475rem;
  line-height: 1rem;
  text-decoration: none;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #b3b3b3;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: #19afd9;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hljs-number {
  color: #6c757d;
}

.hljs-string {
  color: #dc3545;
}

.hljs-comment {
  color: #8d9bc0;
}

.hljs-keyword {
  color: #0a58ca;
}

.hljs-params {
  color: #218f21;
}

.hljs-title {
  color: #0d6efd;
}

.hljs-function {
  color: brown;
}
